.section-task h3 {
    color: var(--white);
    margin-bottom: 20px;
  }
  
  .section-task li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,var(--blue-dark),var(--green));
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;
  
  }
  .section-task i {
    font-size: 25px;
  }
  
  .section-task > ul p {
    font-size: 1.2rem;
  
  }
  
  
  .section-task i:hover {
    color: var(--blue-light);
    cursor: pointer;
  }
  
  .section-task li.completed {
    background: var(--blue-light);
}

  .completed p{
    text-decoration: line-through;
  } 